input {
    keyboard {
        xkb {
            options "compose:ralt"
        }
    }
}

layout {
    gaps 5

    default-column-width { proportion 0.5; }
    
    preset-column-widths {
        proportion 0.333
        proportion 0.5
        proportion 0.666
        proportion 1.0
    }

    focus-ring {
        width 4
        active-color "#89b4fa"
        inactive-color "#b4befe"
    }
}

overview {
    backdrop-color "#11111b"
    workspace-shadow {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}

gestures {
    hot-corners {
        off
    }
}

prefer-no-csd

spawn-at-startup "awww-daemon"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-sh-at-startup "foot --server"

screenshot-path "~/Screenshots/%Y-%m-%d-%H-%M-%S.png"

binds {
    Mod+Escape { spawn-sh "sh ~/.config/niri/scripts/power.sh"; }
    Mod+Return { spawn-sh "niri msg action spawn-sh -- '$(tofi-drun)'"; }

    Mod+T { spawn "footclient"; }
    Mod+Shift+T { spawn-sh "footclient -oline-height=25"; }
    Mod+Control+T { spawn-sh "footclient -ocolors-dark.alpha=0.5"; }

    Mod+G { spawn "zen-browser"; }
    Mod+Shift+G { spawn-sh "zen-browser --private-window"; }

    Mod+W { spawn-sh "awww img -twipe ~/.config/wallpapers/normal/$(ls ~/.config/wallpapers/normal/ | tofi --ascii-input true --prompt-text 'set wallpaper to ')"; }
    Mod+Shift+W { spawn-sh "awww img -twipe -fNearest ~/.config/wallpapers/pixel/$(ls ~/.config/wallpapers/pixel/ | tofi --ascii-input true --prompt-text 'set wallpaper to ')"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "pamixer -i5"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "pamixer -d5"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "pamixer -t"; }

    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86Mail allow-when-locked=true { spawn-sh "brightnessctl set 10%-"; }
    XF86HomePage allow-when-locked=true { spawn-sh "brightnessctl set 10%+"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-right; }
    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down-or-to-workspace-down; }
    Mod+Shift+K { move-window-up-or-to-workspace-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Shift+U { move-workspace-down; }
    Mod+Shift+I { move-workspace-up; }

    Mod+WheelScrollDown { focus-column-right; }
    Mod+WheelScrollUp { focus-column-left; }
    Mod+Control+WheelScrollDown { move-column-right; }
    Mod+Control+WheelScrollUp { move-column-left; }
    Mod+Shift+WheelScrollDown { focus-workspace-down; }
    Mod+Shift+WheelScrollUp { focus-workspace-up; }
    Mod+Shift+Control+WheelScrollDown { move-window-down-or-to-workspace-down; }
    Mod+Shift+Control+WheelScrollUp { move-window-up-or-to-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Comma { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+F { maximize-column; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Space { toggle-window-floating; }
    Mod+Shift+Space { switch-focus-between-floating-and-tiling; }
    Mod+D { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+P { power-off-monitors; }
}

window-rule {
    match app-id="footclient"
    background-effect {
        blur true
    }
}
